<tui-root>
  <div class="tui-container">
    <div class="container">
      <form [formGroup]="choiceForm" (ngSubmit)="submit()">
        <div *ngFor="let controlName of choiceControls; let i = index">
          <tui-input [formControlName]="controlName">
            Choice {{ i + 1 }}
            <input tuiTextfield />
          </tui-input>
        </div>
        <button
          type="button"
          (click)="addChoice()"
          appearance="secondary"
          tuiButton size="m">Add Choice</button>
        <button
          class="tui-space_top-5"
          appearance="secondary"
          tuiButton size="m"
          type="submit">Submit</button>
      </form>
    </div>


    <div class="card-container" *ngIf="pair.items && pair.items.length > 0">
      <div class="inner-card-container">
        <tui-block-status class="card tui-space_horizontal-1" [card]="true">
          {{ pair.items[0].itemName }}
          <button
            appearance="secondary"
            tuiButton size="m"
            (click)="vote(pair.items[0].itemId)"
          >One</button>
        </tui-block-status>
        <tui-block-status class="card tui-space_horizontal-1" [card]="true">
          {{ pair.items[1].itemName }}
          <button
            appearance="secondary"
            tuiButton size="m"
            (click)="vote(pair.items[1].itemId)"
          >Two</button>
        </tui-block-status>
      </div>
    </div>
  </div>
</tui-root>
